<style>
/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: red;
}
  
/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
  
<div class="topnav">
  <div class="topnav-centered">
    <nav>
      <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>Home</a>
      <a href="/whoami.html" {% if page.url == "/whoami.html" %}style="color: red;"{% endif %}>whoami</a>
    </nav>
  </div>
</div>

